# EasyTracker Config
# Copie este arquivo como .env.local e preencha o token
EASYTRACKER_ACCESS_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL2FwaS5lYXN5dHJhY2tlci5kaWdpdGFsL2FwaS9hdXRoL2FjdGlvbi9sb2dpbiIsImlhdCI6MTc4MTE4MTUyNywiZXhwIjoxNzgxMjUzNTI3LCJuYmYiOjE3ODExODE1MjcsImp0aSI6InpJWXU3QUlvb2JSd2RQMDEiLCJzdWIiOiIzNjgiLCJwcnYiOiI0YWMwNWMwZjhhYzA4ZjM2NGNiNGQwM2ZiOGUxZjYzMWZlYzMyMmU4IiwidGlkIjoiMDE5ZTNiZjYtNWUxZS03MDRlLWI4YTQtMjRjODA3MzBiYTg1In0.6R45S-I8uotnlHCMB87w3y_usm25YIFh6Av2Ui9n8WU
RAILWAY_URL=https://dash-prab-production.up.railway.app
SYNC_SECRET=73c18ce56186e5d221b59e1f559dfaf5f92f7b5030b342511c0f45b5ac863310